{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}


{% block title %}{% trans "Gallery" %} — {{ block.super }}{% endblock title %}

{% block head %}
  {{ block.super }}
  {% load compressed %}
  {% compressed_css 'gallery' %}
  <link href='http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic' rel='stylesheet'>

  {% load compressed %}
  {% compressed_js 'gallery' %}
{% endblock head %}

{% block content %}
  <section id="gallery" class="portfolio-photos">
    {% for p in photos %}
      <a href="{{ p.get_absolute_url }}" target="_blank">
        <div class="photo">
          <img src="{{ p.image|thumbnail_url:'gallery_thumb' }}" alt="Photo">
        </div>
      </a>
    {% empty %}
      <div style="text-align: center">
        <h2>{% trans "No photos" %}</h2>
      </div>
    {% endfor %}
  </section>
{% endblock content %}
