body {
	background: #ECEED9 url("../img/noise.png") top left;
}


header {
	padding: 0.75rem;
	background: #3A3A3A;
}

header .logo {
	/*float: left;*/
	display: inline-block;
	color: #FBC24E;
	font-size: 2rem;
	text-shadow: 0 2px 0 #000, 0 0 0.75rem #FC4;
}

header nav {
	float: right;
	margin-right: 0.25rem;
}

header nav a + a {
	margin-left: 0.75rem;
}
header nav a,
header nav a:visited {
	display: inline-block;
	padding: 0.45rem 0;
	color: #DDD;
	text-decoration: none;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
	border: 1px solid transparent;

	transition: 0.25s color ease-out;
}

header nav a:hover {
	color: #FBC24E;
}

header nav a.active {
	padding: 0.5rem 1rem;
	color: #FBC24E;
	background: rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.4);
	border-bottom-color: rgba(255, 255, 255, 0.14);
	border-right-color: rgba(255, 255, 255, 0.12);

	border-radius: 0.125rem;
	box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.3);
}
