/*
 * Image Viewer
 * Author: Gordienko Oleg - gordio.pp.ua
 */
 

/* Image View - BackGroun Box */
.iw-bb {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(64, 64, 64, 0.9);
}

/* Image View - View Box */
.iw-vb {
	position: absolute;
	margin-left: -0.5rem; /* -> padding */
	margin-top: -0.5rem; /* -> padding */
	padding: 0.5rem;
	background: #FFF;

	-webkit-border-radius: 0.25rem;
	border-radius: 0.25rem;

	-webkit-box-shadow: 0 0 0 0.75rem rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 0.75rem rgba(0, 0, 0, 0.5);

	-webkit-transition: all 0.125s linear;
	transition: all 0.125s linear;
}

.iw-vb img {
	width: 100%;
	height: 100%;

	-webkit-border-radius: 0.125rem;
	border-radius: 0.125rem;
}